archive/3.0/conf/action.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- Geometria 3.0 action schema -->

<xs:complexType name="actionType">
<xs:all>
<xs:element name="name" type="xs:string"/>
<xs:element name="icon" type="xs:string" minOccurs="0"/>
<xs:element name="shortDesc" type="xs:string"/>
<xs:element name="helpId" type="xs:string" minOccurs="0"/>
<xs:element name="className" type="xs:string"/>
</xs:all>
</xs:complexType>

<xs:complexType name="actionsType">
<xs:sequence>
<xs:element name="action" type="actionType" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:element name="actions" type="actionsType"/>

</xs:schema>
